      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
      <div class="content-wrapper">
        <div id="sidebar">
          <h3 style=" color: blanchedalmond;">Question</h3>
          <div class="checklist colors">
   
            <ul class="list-group" *ngFor="let demand of demandInfo.DemandeList" >
                <li  (click)="consulter(demand)"class="form-control" style="	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
               {{demand.titre}}
                </li>
              </ul>
              </div>
     
      </div>
      
      <div id="grid-selector">
          
             <div class="col-sm-12 col-lg-6">
              <div class="scroll-area-lg">
                      <div class="p-2">
                          <div class="chat-wrapper p-1">
                              <div class="chat-box-wrapper">
                              
                                      <div> 
                                   
                                                 
                                        <form [formGroup]="demandInfo.DemandeInfoFormAdd_update">
                                          <div class="form-group ms-auto ml-5 mt-2">
                                            <textarea type="text" formControlName="description" style="
                                            padding-top: 0px;
                                            border-top-width: 1px;
                                            padding-right: 44px;
                                            height: 92px;
                                            width: 888px; background-color: #d6e2e8;;
                                            ;"
                                        >
                               </textarea>
                                        </div>     
                                        
                                        <div class="form-group ms-auto ml-5 mt-2">
                                          <textarea type="text" formControlName="titre"style="padding-top: 0px;border-top-width: 0px;/* left: 128px; */right: 129px;width: 824px;height: 110px;background-color: antiquewhite;border-right-width: 0px;margin-right: 79px;margin-left: 142px;border-bottom-width: 0px;" >
                             </textarea>
                                      </div> 
                                      <div style="text-align:left"style="text-align:left;height: 38px;width: 119px;border-right-width: 0px;margin-right: 0px;margin-left: 203px;">
                                        <rating (rate)="onRate($event)"></rating>
                                                      
                                      </div>    
                                    </form>  

         
                            
                                       
                                  </div>
                              </div>
                           
                            
                          </div>
                      </div>
              <div>
            <form [formGroup]=" commentaireService.CommentaireFormAdd_update">
              <textarea formControlName="description"
                 placeholder="Write here and hit enter to send..." type="text" style="width: 721px;">
                </textarea><br>
                </form>
              </div>
      
              <div class="card-footer">
          <button type="button" class=" btn btn-info col-3 mr-2 " 
          style="width: 80px; background-color:turquoise;">Send</button>
              </div>
           </div>  
      </div>
   
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="menu.js"></script>
      