<!DOCTYPE html>
 <html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
 
</head>
<body class="g-Ue-we">
	<form class="form-wrapper cf"[formGroup]="demandInfo.DemandeInfoFormAdd_update">
    <select class="form-control" formControlName="idDomain">
      <option value="0">Select</option>
      <option *ngFor="let item of demandeInfo" value="{{item.idDomain}">{{item.idDomain}}</option>
  </select>
  <button type="submit" (click)="get()" routlink>Search</button>
</form>
     <table class="container">
      <thead>
        <tr>
          <th><h1>Titre</h1></th>
          <th><h1>Description</h1></th>
          <th><h1>Date</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
        let g of demandeInfoService.DemandeList  | paginate
        : {
            id: 'ContractStatePagination',
            itemsPerPage: 3,
            currentPage: p
          }" class="sizeText">
        <td>{{g.titre }}</td>
      <td>{{g.description }}</td>
      <td>{{g.date }}</td>   
      </tbody>
    </table> 
 
</body>
</html>











































<!-- <table class="table table-bordered  table-hover text-center">
    <thead>
      <tr>
        <th class="align-middle table-info table-border">titre</th>
        <th class="align-middle table-info table-border">idDomain</th>
        <th class="align-middle table-info table-border">description</th>
        <th class="align-middle table-info table-border">data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
    let g of demandeInfoService.DemandeList  | paginate
    : {
        id: 'ContractStatePagination',
        itemsPerPage: 3,
        currentPage: p
      }" class="sizeText">
      <td class="align-middle table-border">{{g.titre }}</td>
      <td class="align-middle table-border">{{g.idDomain }}</td>
      <td class="align-middle table-border">{{g.description }}</td>
      <td class="align-middle table-border">{{g.date }}</td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table> --> 
  <!-- <div class="background">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
          <div *ngFor="
          let g of demandeInfoService.DemandeList  | paginate
          : {
              id: 'ContractStatePagination',
              itemsPerPage: 3,
              currentPage: p
            }" class="sizeText">
          <h2 class="pricing-header">{{g.titre }}</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item">{{g.description }}</li>
            <li class="pricing-features-item">{{g.date }}</li>
          </ul>
          <a href="#/" class="pricing-button">Sign up</a>
        </div>
      </div>  
      </div>
    </div>
  </div> -->
  
  
  

