
<div class="content-wrapper">

<h1 style="margin-left:575px;    color: darkgoldenrod;
">Select question</h1>
<div class="select" style=" line-height: 2.5;
text-align: center;
    padding-right: 7px;
    border-right-width: 60px;
    margin-right: 85px;
    margin-left: 200px;
    margin-top: 123px;

">
  <select name="slct" id="slct">
    <option value="0" style="margin-left: 99px;    background: #826044;
    ">Select</option>
    <option *ngFor="let item of DemandList" value="{{item.idDomain}}">{{item.titre}}</option>
  </select>
  
</div>
</div>
