body {
	background: #e2e1e0;
	text-align: center;
  }
  
  .card {
	background:url('/src/app/SittingMaquette1/home/img/1_nIjfoUR90CUKibydNhq_Bw.jpegs');
	background-size: cover;
	border-radius: 2px;
	display: inline-block;
	margin: 1rem;
	position: relative;



  }
  
  .card-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background: url('img/1_nIjfoUR90CUKibydNhq_Bw.jpeg') no-repeat;
	background-size: cover;
	padding-right: 57px;
	padding: 57px;
    height: 500px;
	width: 972px;
	left: 200px;
	right: -120px;
  }
  .card-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-right: 57px;
    height: 100px;
    width: 808px;
    left: 300px;
  }
  a.effect1 {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: inline-block;
	color: black;
	text-decoration: none;
	margin: 30px;
	width: 195px;
	height:50px;
	border: 3px solid;
	font-family: Roboto, sans-serif;
	font-size: 2em;
	left: 46px;
  }
  a.effect1:after{
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 50px;
	content: 'MicroService';
	
	-webkit-transition: all 0.3s;
	  transition: all 0.3s;
  }
  a.effect1:before {
	box-sizing: border-box;
	content: '';
	position: absolute;
	top: 100%;
	width: 50%;
	height: 50%;
	background: white;
	
	-webkit-transition: all 0.3s;
	  transition: all 0.3s;
  }
  a.effect1:hover:before {
	top: 0;
  }
  a.effect1:hover:after {
	color: #25354F;
  }
  a.effect2 {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: inline-block;
	color: black;
	text-decoration: none;
	margin: 30px;
	width: 150px;
	height:50px;
	border: 3px solid;
	font-family: Roboto, sans-serif;
	font-size: 2em;
	left: 322px;

  }
  a.effect2:after{
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 50px;
	content: 'Question';
	
	-webkit-transition: all 0.3s;
	  transition: all 0.3s;
  }
  a.effect2:before {
	box-sizing: border-box;
	content: '';
	position: absolute;
	top: 100%;
	width: 50%;
	height: 50%;
	background: white;
	
	-webkit-transition: all 0.3s;
	  transition: all 0.3s;
  }
  a.effect2:hover:before {
	top: 0;
  }
  a.effect2:hover:after {
	color: #25354F;
  }
  