<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light">
  
    <a class="navbar-brand" href="#">
      <img src="assets/Image/logo-pgh-50.jpg" class="rounded-circle" width="100" height="100">

    </a> 
  <ul class="navbar-nav">
    <form class="form-inline" action="/action_page.php">

    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button type="button" class="btn btn-outline-primary"style="position: absolute;margin-left:50%;"  >Sign Up</button>
        <button type="button" class="btn btn-outline-primary"style="position: absolute;margin-left:57%;" >Log In</button>

            <img src="/assets/Image/user.png" class="img-circle elevation-2" alt="User Image" class="rounded-circle" width="50" height="50"style="position: absolute;margin-left:63%;" >
          <div class="info">
    
            <a href="#" class="d-block"style="position: absolute;margin-left:43%;" >Salma Ben Alaya</a>
    
          </div>
        </form>

  </ul>
</nav>


<div class="wrapper">
   
  <div class="sidebar">
    <div class="logo"></div>
    <div class="avatar">
      <div class="avatar__img">
        <img src="https://picsum.photos/70" alt="avatar">
      </div>
      <div class="avatar__name">John Smith</div>
    </div>
    <nav class="menu">
      <a class="menu__item" href="#">
        <i class="menu__icon fa fa-home"></i>
        <span class="menu__text">overview</span>
      </a>
      <a class="menu__item" href="#">
        <i class="menu__icon fa fa-envelope"></i>
        <span class="menu__text">messages</span>
      </a>
      <a class="menu__item" href="#">
        <i class="menu__icon fa fa-list"></i>
        <span class="menu__text">workout</span>
      </a>
      <a class="menu__item menu__item--active" href="#">
        <i class="menu__icon fa fa-calendar"></i>
        <span class="menu__text">calendar</span>
      </a>
      <a class="menu__item" href="#">
        <i class="menu__icon fa fa-bar-chart"></i>
        <span class="menu__text">goals</span>
      </a>
      <a class="menu__item" href="#">
        <i class="menu__icon fa fa-trophy"></i>
        <span class="menu__text">achivements</span>
      </a>
      <a class="menu__item" href="#">
        <i class="menu__icon fa fa-sliders"></i>
        <span class="menu__text">measurements</span>
      </a>
    </nav>
    <div class="copyright">copyright &copy; 2018</div>
  </div>
</div>




<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="position: absolute;margin-left:70%;">
  Poser question    </button>
    
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
    
<div class="modal-header ">
  <h4 *ngIf="demandeInfo.DemandeInfoFormAdd_update.controls.idInf.value =='00000000-0000-0000-0000-000000000000'"
    class="modal-title pull-left text-info ml-3 mt-2">Ajouter un Domain </h4>

  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">
  <div class="container">
    <form [formGroup]="demandeInfoService.DemandeInfoFormAdd_update">
      <div class="form-group ms-auto ml-5 mt-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text "><i class="far fa-comment-alt text-info"></i></span>
          </div>
          <input type="text" class="form-control col-8" formControlName="titre" placeholder="Entrer le titre "
            [class.is-invalid]="demandeInfoService.DemandeInfoFormAdd_update.controls.titre.errors?.required &&
            demandeInfoService.DemandeInfoFormAdd_update.controls.titre.touched">
         
        </div>
      </div>  
      <div class="form-group ms-auto ml-5 mt-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text "><i class="far fa-comment-alt text-info"></i></span>
          </div>
          <input type="text" class="form-control col-8" formControlName="description" placeholder="Entrer le description "
            [class.is-invalid]="demandeInfoService.DemandeInfoFormAdd_update.controls.description.errors?.required &&
            demandeInfoService.DemandeInfoFormAdd_update.controls.description.touched">
         
        </div>
      </div>
        <div class="form-group ms-auto ml-5 mt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text "><i class="far fa-comment-alt text-info"></i></span>
            </div>
        <input type="text" class="form-control col-8" formControlName="date" placeholder="Entrer le date "
        [class.is-invalid]="demandeInfoService.DemandeInfoFormAdd_update.controls.date.errors?.required &&
        demandeInfoService.DemandeInfoFormAdd_update.controls.date.touched">
      </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class=" btn btn-info col-3 mr-2 " (click)="onSubmit()"
      [disabled]="demandeInfoService.DemandeInfoFormAdd_update.invalid"><i class="fas fa-check"></i>
      Valider</button>
  </div>

</div></div></div> -->

<!-- <div class="container-fluid"> -->
  <!-- <div class="container"> -->
  <!-- <h1>Angular8</h1>
  <hr align="center" width="95%" color="#DCDCDC" size="1"> -->
    <!-- <button type="button" class="btn  mb-2 text-white" (click)="openComponentForPost()"
      style="background-color:rgb(13, 184, 214); "> <i class="fas fa-plus-circle "></i> Ajouter</button>
    <table class="table table-bordered  table-hover text-center">
     
      <tbody>
        <tr *ngFor=" let g of demandeInfo.DemandeList">
        <td class="align-middle table-border">titre:{{g.titre }}</td></tr>
        <tr *ngFor=" let a of  CategorieList">
          <td class="align-middle table-border">categorie:{{a.categorie }}</td></tr>
        <tr *ngFor=" let g of demandeInfo.DemandeList">
          <td class="align-middle table-border">description: {{g.description }}</td></tr>
          <tr *ngFor=" let g of demandeInfo.DemandeList">
            <td class="align-middle table-border">data:{{g.date }}</td></tr>
  
       
      </tbody>
    </table>
  
    <pagination-controls id="ContractStatePagination" class="my-pagination" (pageChange)="p = $event"
      previousLabel="Prec " nextLabel="Suiv ">
    </pagination-controls>
  
    <div class="col-3" style="float:left !important"> </div> -->
<!-- </div>
</div> -->
</body>
</html>