<table class="table">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Lien</th>
      <th scope="col">DiagClass</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let microservice of service.list">
          <td (click)=" popularteForm(microservice)">{{microservice.label}}</td>
        <td (click)=" popularteForm(microservice)">{{microservice.description}}</td>
          <td (click)=" popularteForm(microservice)">{{microservice.author}}</td>
          <td (click)=" popularteForm(microservice)">{{microservice.lien}}</td>
          <td (click)=" popularteForm(microservice)">{{microservice.diagClass}}</td>
          <td><i class="far fa-trash-alt fa-lag text-danger"
              (click)="onDelete(microservice.idMS)"></i>
          </td>
              
      </tr>
  </tbody>
</table>

 