<div class="content-wrapper">
  <form class="form-inline ml-3">
    <div class="input-group input-group-sm"style="
    border-top-width: 0px;
    padding-top: 0px;
    border-right-width: 0px;
    margin-right: 13px;
    right: 0px;
    left: 87px;
    top: 34px;"
>
      <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <button type="button" class="btn  mb-2 text-white" (click)="openComponentForPost()"
    style="background-color:rgb(13, 184, 214); "> <i class="fas fa-plus-circle "></i> Ajouter</button>
  <table class="table table-bordered  table-hover text-center">
    <thead>
      <tr>
        <th class="align-middle table-info table-border">label</th>
        <th class="align-middle table-info table-border">fK_SousCategorie</th>
        <th class="align-middle table-info table-border">Action(s)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="
    let g of sousCategorie.SousCategorieList | paginate
    : {
        id: 'ContractStatePagination',
        itemsPerPage: 3,
        currentPage: p
      }" class="sizeText | filterPipe: searchText">
        <td class="align-middle table-border">{{g.label }}</td>
        <td class="align-middle table-border">{{g.nameCategorie }}</td>
        <td class="align-middle ">
          <button (click)="openComponentForUpdate(g)" class="btn-sm btn-info rounded mr-3 rounded"> <span
              class="fas fa-wrench  text-white"></span></button>
          <button (click)="OnDelete(g.idSC)" class="btn-sm btn-danger rounded"><span
              class="fas fa-trash-alt  text-white"></span> </button>
        </td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="ContractStatePagination" class="my-pagination" (pageChange)="p = $event"
    previousLabel="Prec " nextLabel="Suiv ">
  </pagination-controls>

  <div class="col-3" style="float:left !important"> </div>
</div>