<h3>Update Microservice</h3>
<input type="hidden" name="IdMS" [value]="service.formData.IdMS">
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Label</label>
      <input type="text" class="form-control" id="label"  [(ngModel)]="formData.label" name="label" required>
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="formData.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="formData.author" name="author">
    </div>

    <div class="form-group">
      <label for="name">Lien</label>
      <input type="text" class="form-control" id="lien" required [(ngModel)]="formData.lien" name="lien">
    </div>

    <div class="form-group">
      <label for="name">DiagClass</label>
      <input type="text" class="form-control" id="diagClass" required [(ngModel)]="formData.diagClass" name="diagClass">
    </div>
    <div class="form-group">
      <label for="name">LanguageFK</label>
      <input type="text" class="form-control" id="languageFK" required [(ngModel)]="formData.languageFK" name="languageFK">
    </div>
    <button type="submit" class="btn btn-success" (click)="Edit(null,serviceformData.IdMS)">Submit</button>
  </form>
</div>