<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="brand-link">
    <!-- <img src="" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"  style="opacity: .8"> -->
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/assets/Image/user.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">

        <a href="#" class="d-block">Salmaa</a>

      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Starter Pages
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Active Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inactive Page</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">

          <a routerLink="/answer" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              answer </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Microservice" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              microservice </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Projet" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              projet </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Domain" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Domain </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Method" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Method </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Language" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              language </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Version" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              version </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Commentaire" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Commentaire </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Demande_Info" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Demande_Info </p>

          </a>
        </li>
          <li class="nav-item">

          <a routerLink="/Gestion_Categorie" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Gestion_Categorie </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Sous_Categorie" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Sous_Categorie </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Vote" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fab fa-dashcube"></i>
            <p>
              Vote </p>

          </a>
        </li> 
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>