<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
   

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div>
      <div class="image">
        <img src="/src/app/navbar/sidebar-left/img/1.jpg" style="background-size: cover   ;">

      </div>
     
    </div>
    <div class="ps__scrollbar-y-rail" style="top: 0px; height: 533px; right: 0px;">
      <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 220px;">  
         <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
  
      
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Gestion Micro-service
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
        <ul class="nav nav-treeview">
         
        <li class="nav-item">
          <a routerLink="/Microservice" class="nav-link" routerLinkActive="active">
            <i class="fab fa-audible"></i>    &nbsp;           <p>
              microservice </p>

          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/Projet" class="nav-link" routerLinkActive="active">
            <i class="fas fa-tasks"></i>  &nbsp;          <p> projet </p> </a>
        </li>
        
        <li class="nav-item">
          <a routerLink="/Domain" class="nav-link" routerLinkActive="active">
            <i class="fas fa-globe"></i> &nbsp;  
            <p>
              Domain </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Method" class="nav-link" routerLinkActive="active">
            <i class="fas fa-alarm-plus"></i>    &nbsp;          <p>
              Method </p>

          </a>
        </li>
      
        <li class="nav-item">

          <a routerLink="/Language" class="nav-link" routerLinkActive="active">
            <i class="fas fa-globe"></i>     &nbsp;          <p>
              language </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Version" class="nav-link" routerLinkActive="active">
            <i class="fas fa-code-branch"></i>   &nbsp;            <p>
              version </p>

          </a>
        </li>

        </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Questions
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            
        <li class="nav-item">
          <a routerLink="/Commentaire" class="nav-link" routerLinkActive="active">
            <i class="far fa-comment-dots"></i> &nbsp;  
            <p>
              Commentaire </p>

          </a>
          
        </li>
        <li class="nav-item">

          <a routerLink="/Demande_Info" class="nav-link" routerLinkActive="active">
            <i class="fa fa-info-circle" aria-hidden="true"></i> &nbsp;  
            <p>
              Demande_Info </p>

          </a>
        </li>
          <li class="nav-item">

          <a routerLink="/Gestion_Categorie" class="nav-link" routerLinkActive="active">
            <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;  
            <p>
              Gestion_Categorie </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Sous_Categorie" class="nav-link" routerLinkActive="active">
            <i class="fa fa-tag" aria-hidden="true"></i> &nbsp;  
            <p>
              Sous_Categorie </p>

          </a>
        </li>
        <li class="nav-item">

          <a routerLink="/Vote" class="nav-link" routerLinkActive="active">
            <i class="fas fa-check"></i>       &nbsp;                  <p>
              Vote </p>

          </a>
        </li> 
      </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>    </div></div> 

  <!-- /.sidebar -->
</aside>
<style>
 
  </style>