<div class="modal-header ">
  <h4 *ngIf="languageService.DemandeInfoFormAdd_update.controls.idInf.value =='00000000-0000-0000-0000-000000000000'"
    class="modal-title pull-left text-info ml-3 mt-2">Ajouter un Domain </h4>
  <h4 *ngIf=" languageService.DemandeInfoFormAdd_update.controls.idInf.value !='00000000-0000-0000-0000-000000000000'"
    class="modal-title pull-left text-info ml-3 mt-2">Modifier la Domain</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body ">
  <div class="container">
    <form [formGroup]="languageService.DemandeInfoFormAdd_update">
      <div class="form-group ms-auto ml-5 mt-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text "><i class="far fa-comment-alt text-info"></i></span>
          </div>
          <input type="text" class="form-control col-8" formControlName="titre" placeholder="Entrer le titre "
            [class.is-invalid]="languageService.DemandeInfoFormAdd_update.controls.titre.errors?.required &&
            languageService.DemandeInfoFormAdd_update.controls.titre.touched">
         
        </div>
      </div>  
      <div class="form-group ms-auto ml-5 mt-2">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text "><i class="far fa-comment-alt text-info"></i></span>
          </div>
          <input type="text" class="form-control col-8" formControlName="description" placeholder="Entrer le description "
            [class.is-invalid]="languageService.DemandeInfoFormAdd_update.controls.description.errors?.required &&
            languageService.DemandeInfoFormAdd_update.controls.description.touched">
         
        </div>
      </div>
        <div class="form-group ms-auto ml-5 mt-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text "><i class="far fa-comment-alt text-info"></i></span>
            </div>
        <input type="text" class="form-control col-8" formControlName="date" placeholder="Entrer le date "
        [class.is-invalid]="languageService.DemandeInfoFormAdd_update.controls.date.errors?.required &&
        languageService.DemandeInfoFormAdd_update.controls.date.touched">
      </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class=" btn btn-info col-3 mr-2 " (click)="onSubmit()"
      [disabled]="languageService.DemandeInfoFormAdd_update.invalid"><i class="fas fa-check"></i>
      Valider</button>
  </div>
