.app-header .app-header__content {
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    position: absolute;
    left: 5%;
    width: 90%;
    top: 0;
    transition: all .2s;
    background: #fff;
    border-radius: 50px;
    padding: 0 10px;
    overflow: hidden;
}
.app-header .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 1.5rem;
    height: 60px;}
    .search-wrapper .input-holder .search-input {
        width: 100%;
        padding: 0 70px 0 20px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        box-sizing: border-box;
        border: none;
        outline: none;
        transform: translate(0, 60px);
        transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
        transition-delay: 0.3s;
        font-size: .88rem;
    }
    .search-wrapper.active .input-holder .search-input {
        opacity: 1;
        transform: translate(0, 11px);
    }