
div.validation-error{
    widows: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
input.ng-dirty.ng-invalid{
    border-color: #dc3545;
}
table.tr:hover{
    cursor: pointer;
}
.jumbtron{
background-color: #fff;
padding-top: 32px;
}
button[type="submit"]{
    background-color: #67dfd4;
}
.form-group>label{
    font-weight: lighter;
}
.form-group>input{
    font-weight: bolder;
}

/* You can add global styles to this file, and also import other style files */
.grid-table
{
    display: table;
}
.thead
{
    display: table-header-group;
    font-weight: bold;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #f0f8ff;
}
.tbody
{
display: table-row-group;
}
tr{
    display: table-row;
}
.td{
    display: table-cell;
    padding: 10px 1px 1px 5px;
}
.thead div.tr div.td:last-child{
    background-color: white;
}
i:hover{
    cursor: pointer;
}
.input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border-color: #dc3545;
}
@keyframes fadeinout{
    50%{opacity :1;}}



